{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h4>Hi, I'm <strong>{{ .Site.Params.author }}</strong>, you can call me Issa.</h4>
		<h4>I'm a data manager at <a href="https://www.aphp.fr/"> AP-HP</a>.</h4>
        <h4>I currently live in France. </h4>
        <h4>I love data science, I enjoy playing around with data. I’m a big fan of <a href="https://www.r-project.org">R</a>, <a href="https://www.rstudio.com">RStudio</a> and <a href="https://en.wikipedia.org/wiki/Open-source_software">Open source software</a>.</h4>
        <h4>I love reading, basketball and soccer.</h4>
		<h4>If you have any questions, please feel free to contact me! </h4>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
